<!-- Tamplate de cadastro de pessoas. Nome, Sexo, Idade, Cidade. -->

<div class=container>
  <h1> Formulário de Cadastro de Pessoas</h1>


<form #cadastro="ngForm" (submit)="salvar(cadastro)">

  <div class="form-group">
    <input type="text" id="nome" name="nome" [(ngModel)]="nome" class="form-control" placeholder="Nome" required>
 
  </div>

  <div class="form-group">
    <input type="number" id="idade" name="idade" [(ngModel)]="idade" class="form-control" placeholder="Idade" required>

  </div>

  <div class="form-group">
    <label for="sexo">Sexo</label>
  <select  id="sexo" name="sexo" [(ngModel)]="sexo" class="form-control" required>

        <option>Feminino</option>
        <option>Masculino</option>

        
      </select>
  </div>

  <div class="form-group">
    <label for="cidade">Cidade</label>
      <select class="form-control" name="cidade" id="cidade" [(ngModel)]="cidade"  required>
          <option>Palmas</option>
          <option>Porto Nascional</option>
          <option>Paraiso</option>
        </select>
     
  </div>
  
  <div>
      <button type="submit" class="btn btn-primary" [disabled]="!cadastro.form.valid">Cadastar</button>
  </div>
</form>
</div>

<div class="container">
  <h1>tabela</h1>
    <table class="table table-bordered">
        <tr>Mais Velho</tr>
          <tr *ngFor="let pessoa of pessoas.PessoaVelha()">
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.idade }}
          </tr>
          <tr>Mais Novo</tr>
          <tr *ngFor="let pessoa of pessoas.PessoaNova()">
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.idade }}
          </tr>
      
      </table>

  <div>
    <p>Media Mulheres:</p> <p >{{ pessoas.mediaFeminina() }} </p>
    
  </div>
  <div>
      <p>Media Homens:</p> <p >{{ pessoas.mediaMasculina() }} </p>
      
    </div>

<div>
    <p>Media Palmas:</p> <p >{{ pessoas.mediaCidade("Palmas") }} </p>
</div>
<div>
    <p>Media Porto Nascional:</p> <p >{{ pessoas.mediaCidade("Porto Nascional") }} </p>
</div>
<div>
    <p>Media Paraiso:</p> <p >{{ pessoas.mediaCidade("Paraiso") }} </p>
</div>

<div>
    <p>Mulheres Por palmas:</p> <p >{{ pessoas.mediaSexoCidade("Palmas", "Feminino") }}%</p>
</div>
<div>
    <p>Homens Por palmas:</p> <p >{{ pessoas.mediaSexoCidade("Palmas", "Masculino") }}%</p>
</div>

</div>

